venv/
.venv/
__pycache__/
*.py[cod]
.idea/
outputs/*
outputs.csv
results.csv
*.so
*.c
*.egg-info/

# (probably unused)
.ipynb_checkpoints/
*.log
simulations/AJ_model_endless/
simulations/poisson-lines/
simulations/example/
